body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.index-title{
  color: green;
}

.error-title{
  color: red;
}

li{
  margin-bottom: 10px;
}

.form-cells{
  text-align: center;
}
.form-cell{
  margin-bottom: 10px;
}